.carrocel_titulo {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding: 1em 0 0.5em 0;
  background-color: var(--branco);
  color: black;
  text-transform: uppercase;
}

.swiper img {
  width: 100%;
}

.swiper-button-prev, .swiper-button-next {
  display: none;
}

.swiper-pagination {
  position: initial;
  margin: 0.5em 0;
}

@media screen and (min-width:1024px) {
  .swiper-button-next, .swiper-button-prev {
    display: block;
  }

  .carrocel_titulo{
    font-size: 25px;
  }

}

@media screen and (min-width:1728px) {

  .container_desktop {
    display:flex;
  }

  .swiper {
    width: 50%;
  }

  .carrocel_seguimentos {
    margin-top: 1em;
  }

  .linha2 {
    margin-top: 40px;
  }


}