.secao_email {
  padding: 1em 0 0 0;
  background-color: var(--branco);

}

.secao_email--titulo {
  color: var(--violeta);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.secao_email--texto {
  margin: 1em 0.5em;
  text-align: center;
  color: var(--violeta-claro);

}

.secao_input {
  width: 95%;
  border: 1px solid #000000;
  padding: 1em 0.5em;
  border-radius: 16px;


}

.secao_input::placeholder {
  color: #000000;
  background-image: url("../img/email.svg");
  background-repeat: no-repeat;
  text-align: center;
  font-size: 16px;
}

.tecnologias {
  display: none;
}

.tecnologias_link {
  text-decoration: none;;
  color:var(--violeta-claro)
}

@media screen and (min-width:1024px) {

  .secao_email--container {
    display: flex;
    justify-content: space-around;
  }

  .secao_input {
    width: 35%;
    margin: 15px 0;

  }

  .secao_input::placeholder {
    background-position: 3em;
  }

  .secao_email--titulo {
    font-size: 26px;

  }

  .rodape {
    display: flex;
    justify-content: space-around;
  }

  .meu_nome {
    font-size: 32px;
    font-weight: 700;
    color: var(--verde);
  }

  .tecnologias_titulo {
    font-size:18px;
    font-weight: 700;
    margin: 12px 0;
    color:var(--violeta-claro)
  }

  .tecnologias_item {
    display: flex;
    align-items: center;
    margin:0.5em 0;
    
  }

  .tecnologias_link {
    margin-left: 6px;
    font-size: 14px;
  }

  .tecnologias {
    display: block;
  }



}

@media screen and (min-width:1728px) {
  .secao_email--titulo {
    font-size:32px;

  }
    
  .tecnologias {
    display: block;
    border-left: 1px solid #636363;
    margin:1em;
  }

  .tecnologias_item, .tecnologias_titulo{
    padding-left: 1em;
  }

  .secao_email--texto {
    font-size:22px;
  }

  .secao_input::placeholder {
    font-size: 22px;
  }

  .rodape {
    background-color:var(--background-branco-escuro);
    
  }

  hr {
    margin:0;
  }

  .meu_nome {
    padding-top:0.5em;
  }
}