.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--branco);
  position: relative;
}

.cabecalho_menu--hamburger {
  background-image: url(../img/Menu.png);
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.container {
  display: flex;
  align-items: center;

}

.cabecalho_lista,
.cabecalho_botao {
  display: none;
}

.cabecalho_botao:checked~.cabecalho_lista {
  display: block;
  width: 150px;

}

.cabecalho_botao:checked~ .cabecalho_rotulo > .cabecalho_menu--hamburger {
  background-image: url("../img/MenuAberto.svg");
  
}

.cabecalho_botao:checked ~ .cabecalho_rotulo {
  background-color: var(--violeta);

}

.container_item {
  padding: 16px;

}

.cabecalho_lista {
  position: absolute;
  top: 100%;
  background-color: var(--branco);
  color: var(--violeta);
  width: 60vw;

}

.cabecalho_lista--destaque {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 16px 0px 0px 5px;
  color:var(--verde)
}

.cabecalho_lista--item {
  padding: 16px;

}

.cabecalho_lista--link {
  text-decoration: none;
}

.cabecalho_titulo {
  display: none;
}

.cabecalho_lista--desktop {
  display: none;
}

.Container_item--texto {
  display: none;
}

@media screen and (min-width:1024px){
 
  .cabecalho_titulo {
    font-size: 24px;
    font-weight: 700;
    color: var(--verde);
    display: block;
  }

  .cabecalho_titulo--cor {
    color: var(--violeta);
  }

  .cabecalho_menu--hamburger {
    display: none;
  }

  .cabecalho_lista--desktop {
    display: flex;
    
  }

  .cabecaldo_lista--desktop_item {
    padding: 0 1em;
    font-weight: 600;
  }

  .cabecalho_lista--input {
    display: none;
  }

  .cabecalho_lista--input:checked ~ .cabecalho_lista {
    display: block;
  }

  .cabecalho_lista {
    width: 100px;
  }

}

@media screen and (min-width:1728px) {
  .cabecalho_titulo {
    padding-right: 2em;
  }

  .cabecalho_desktop {
    margin-right: auto;
  }

  .Container_item--texto {
    display: block;
    margin-left: 0.5em;
    color: black;
  }

  .container_item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--verde);
    font-size: 18px;
  }

  .cabecalho_lista--desktop_item {
    padding: 2em 1em;
  }

  .cabecalho_lista--item:hover {
    background-color: var(--verde);
    color:var(--branco)
  }


  
   

}